body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100vw;
}

header{
    /* background-color: white; */
    /* width: 375px; */
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: sticky;
    top: 0;
    
}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger i{
    font-size: 50px;
    color: #505050;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #505050;
    color: white;
    box-shadow: 0px 5px 5px 0px rgba(80,80,80,0.5);

}

.icon i{
    font-size: 50px;
}



.hidden{
    height: 50px;
    width: 50px;
}

.nav{
    position: fixed;
    height: 100%;
    background-color: #505050;
    width: 50%;   
    left: -100%
}

.navhidden{
    left: 0;
    z-index: 1;
}

.close{
    height: 20px;
    width: 20px;
    background: purple
}

main{
    /* background-color: grey; */
    grid-area: main;
    display: flex;
    width: 100%;
    justify-content: center;
}

.article_container{
    /* width: 100vw; */
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 25px;
    display: flex;
    justify-content: center;
    /* overflow: scroll; */
}

.article{
    height: 300px;
    width: 300px;
    /* background-color: #505050; */
    border-color: #505050;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    'pic'
    'info';
    margin-bottom: 15px;
}

.articleinfo{
    background-color: #505050;
    /* height: 25%; */
    grid-area: info;
}

