
body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 1px){

    .wrapper{
        width: 100vw;
    }

    header{
        /* background-color: white; */
        /* width: 375px; */
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        position: sticky;
        top: 0;
    }

    .mobilehide{
        display: none;
    }

    .feedwrapper{
        margin:10px 0 30px 0;
    }

    .feed{
        width: 300px;
        justify-content: center;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        /* margin: 10px; */ 
    }

    .catfeed{
        width: 300px;
        justify-content: center;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        /* margin: 10px; */ 
    }

    .feedbannerboxwrapper{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    .feed h1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #505050
    }

    .feedbanner{
        width: 300px;
        height: 80px;
        border: 1px #505050 solid;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight:bold; 
        font-size: 2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        background-color: #505050;
    }

    .feedbox{
        margin-top: 20px;
        margin-right: 0;
        height: 140px;
        width: 140px;
        border: #505050 1px solid;
    }

    .feedbox:nth-child(2){
        margin-right: auto;
    }

    .feedbox:nth-child(3){
        margin-left: auto;
    }

    .feedbox:nth-child(4){
        margin-right: auto;
    }

    .feedbox:nth-child(5){
        margin-left: auto;
    }

    .bigfeedbox{
        margin-top: 20px;
        height: 300px;
        width: 300px;
        border: #505050 1px solid;
        
    }

    .bigfeedinfo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: info;
        background-color: #505050;
    }

    .bigcatinfo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: info;
        background-color: #505050;
    }

    .bigcatbox{
        margin-top: 20px;
        height: 300px;
        width: 300px;
        border: #505050 1px solid;
        display: grid;
        grid-template-rows: 3fr 1fr;
        grid-template-areas:
        'pic'
        'info';
    }


    .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger i{
        font-size: 50px;
        color: #505050;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 0;
    }
    
    .fade-layer.visible{
        display: block;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #505050;
        color: white;
        box-shadow: 0px 5px 5px 0px rgba(80,80,80,0.5);

    }

    .icon i{
        font-size: 50px;
    }



    .hidden{
        height: 50px;
        width: 50px;
    }

    nav{
        position: fixed;
        height: 100%;
        background-color: #505050;
        width: 50%;   
        left: -100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column
    }

    .navhidden{
        left: 0;
        z-index: 1;
    }


    .navicon{
        background-color: white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        
    }

    .navicon i{
        color: #505050;
        font-size: 50px;
    }

    .navhiddenbutton{
        height: 100px;
        width: 100px;
        margin-bottom: 25px;
    }

    .navmenu{
        
        display: flex;
        align-items: center;
        height: 100px;
        width:100px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .navmenu ul{
        list-style-type: none;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        justify-content: center;
        font-weight: bold;
        font-size: 1.4rem;
    }

    .navmenu li{
        margin-top: 20px;
    }

    .navmenu li:first-child {
        margin-top:0;
    }

    .categorieshidden{
        display: none;
    }

    .navmenu a{
        color: white;
        text-decoration: none;
    }

    .categorieshidden hr{
        width: 75px;
    }

    .categorieshidden li{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .categoriesshow{
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    main{
        grid-area: main;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .article_container{
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        padding: 25px;
        display: flex;
        justify-content: center;
    }

    .article{
        height: 300px;
        width: 300px;
        border-color: #505050;
        border-style: solid;
        border-width: 1px;
        display: grid;
        grid-template-rows: 3fr 1fr;
        grid-template-areas:
        'pic'
        'info';
        margin-bottom: 15px;
    }

    .articleinfo{
        background-color: #505050;
        grid-area: info;
    }

    .pic{
        grid-area: pic;
        background-color: lightblue;
    }

    .cartwrapper{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 35px;
    }

    .carttitle{
        font-size: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        text-decoration-line: underline;
        text-decoration-style: solid;
        color: #505050;
    }

    .cart{
        margin-top: 50px;
        border: 1px solid #505050;
        height: 350px;
        width: 100%;
        overflow-y: scroll;
    }

    .cartbuttons{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;    
        width: 100%;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .back{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 120px;
        background-color: #505050;
    }

    .back p{
        justify-content: center;
    }

    .checkout{
        height: 50px;
        width: 120px;
        background-color: #2ADE4E;
    }

    .cartitem{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 6px;
    }

    .itempic{
        border: 1px solid #505050;
        height: 75px;
        width: 75px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .iteminfo{
        /* background-color: grey; */
        height: 75px;
        width: 195px;
        margin: 0 10px 0 10px;
        display: flex;
        white-space: nowrap;
        border: 1px solid #505050;
    }

    .iteminfotext{
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .iteminfo p{
        margin: 0px;
        color: #505050;
    }

    .iteminfo p:last-child{
        margin-bottom: 5px;
    }

    .iteminfotext h1{
        font-size: 1rem;
        margin-top: 5px;
    }

    .deleteitem i{
        font-size: 2rem;
        color: red;
    }

    .deleteitem{
        margin-right: 10px;
        width: 73px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .cart hr{
        width: 75%
    }

    .back a{
        color: white;
        text-decoration: none;
    }


    .bigfeedinfotext p{
        text-align: center;
        color: white;
        margin: 0;
        margin-top: 5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .bigcatinfotext p{
        text-align: center;
        color: white;
        margin: 0;
        margin-top: 5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .info{
        height: 30px;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #505050;
        background-color: white;
    }

    .add{
        height: 30px;
        color: white;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2ADE4E;
    }

    .bigfeedinfobuttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin:0px 60px 5px 60px;
    }

    .bigcatinfobuttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin:0px 60px 5px 60px;
    }

    .cat_title{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #505050;
        align-items: center;
        text-align: center;
    }

    .articlewrapper{
        height: auto;
        width: 300px;
        height: 650px;
        /* background-color: aquamarine; */
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .articlepic{
        height: 450px;
        width: 250px;
        border: #505050 1px solid;
        display: flex;
        flex-direction: column-reverse
    }

    .articlesiteinfo{
        width: 250px;
        height: 200px;
        border: 1px solid #505050;
        margin-bottom: 50px;
    }

    .articlesite{
        display: flex;
        margin: 25px 0 25px 0;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .articlepicarrows{
        text-align: center;
        margin-top: 10px;
        display: flex;
        justify-content: space-between
    }

    .articlepicarrows i{
        margin: 0 10px 0 10px;
    }

    .articlesitebuttons{
        width: 250px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }


    .addarticle{
        height: 37.5px;
        color: white;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2ADE4E;
    }

    .size p{
        margin-left: 5px;
    }

    .bigcatinfobuttons a{
        text-decoration: none;
    }
    
    .backarticle{
        height: 37.5px;
        width: 75px;
        background-color: #505050;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .articlesitebuttons a{
        text-decoration: none;
    }

    .bigpic{
        height: 450px;
        width: 250px;
        border: #505050 1px solid;
        display: flex;
        flex-direction: unset;
        justify-content: center;
    }

    .articlesiteinfotitle{
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #505050;
    }

    .articletitle{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        color: #505050;
    }

    .articleprice{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        color: #505050;
        font-size: 0.75rem;
    }

}

@media only screen  and (min-width : 1224px) {
    
    nav{
        left: 0;
        width: 10%;
    }

    .mobilehide{
        display: block;
    }

    .hamburger{
        visibility: hidden;
    }

    .feedwrapper{
        /* margin: 10px 0 30px 10%; */
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feedbox{
        width: 300px;
        height: 250px;;
    }

    .feed{
        align-items: center;
        width: 1000px;
    }

    .bigfeedbox{
        
        height: 550px;
        width: 550px;
        margin-bottom: 50px;
    }

    .feedbannerboxwrapper{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        height: 550px;
        margin-top: 20px;
        margin-left: 50px;
        margin-bottom: 50px;
        flex-wrap: nowrap;
    }

    .feedbannerboxwrapper:nth-child(3){
        margin: 20px 50px 50px 0;
    }

    .feedbanner{
        margin-top: 0;
    }

    .feedbox:nth-child(2){
        margin-right: 0;
    }

    .feedbox:nth-child(3){
        margin-left: 0;
    }

    .feedbox:nth-child(5){
        display: none;    
    }

    .feedbox:nth-child(4){    
        display: none;
    }

    .feedwrapper h1{
        color: #505050;
        
    }

    .catfeed{
        align-items: center;
        /* width: 1000px; */
        flex-direction: row;
        width: 100%
    }

    .bigcatbox{
        margin: 25px 25px 25px 25px;
    }

    .cartwrapper{
        width: 50%
    }

    .cartitem{
        justify-content: space-between;
    }

    .itempic{
        margin-left: 50px;
    }

    .iteminfo{
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
    }

    .deleteitem{
        height: auto;
        width: auto;
    }

    .itemtitle{
        display: flex;
        justify-content: left;
        width: 350px;
        color: #505050;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .desktophide{
        display: none;
    }

    .articlewrapper{
        width: 75%
    }

    .articlesite{
        width: 100%;
        flex-direction: unset;
        justify-content: center;
    }

    .piccollage{
        display: flex;
        flex-wrap: wrap;
    }

    .pictrio{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 25px;
    }
    
    .articlepic{
        height: 125px;
        width: 100px;   
    }

    .backarticle{
        display: none;
    }
    
    select{
        width: 75px;
    }

    .articlesiteinfo{
        width: 100%;
        height: 225px
    }

    .articlesiteinfo p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #505050;
        padding: 5px;
    }

    .articlesitecontent{
        width: 200px;
        margin-left: 50px;
        height: 450px;
    }

    .articlesitebuttons{
        width: 100%;
        margin-bottom: 25px;
    }
    
    
    
    .hrvertical{
        width: 0.5px;
        margin: 0 0 0 50px;
        background-color: #505050;
        height: 500px;

    }

    .bigpic{
        
    }

    
    
}